* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.box-logo {
    margin: 5px 30px;
}

.box-left {
    display: flex;
}

.menu-box-right>ul {
    display: flex;
}

.menu-box-right>ul>a {
    margin: 10px 30px;
    color: black;
    text-decoration: none;
}

.menu-box-right>ul>a>button {
    background-color: orangered;
    width: 100px;
    height: 50px;
}

.button-header {
    background-color: orangered;
    width: 100px;
    height: 50px;
    text-align: center;
}

li {
    transition: 0.5s;
}

li:hover {
    color: orangered;
}

.box-right,
.box-left {
    margin-right: 150px;
}

#search {
    width: 520px;
    height: 50px;
    padding-left: 20px;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    font-size: 16px;
    color: rgba(0, 0, 0, 0.753);
}

.bi-cart {
    font-size: 30px;
}